@page "/"
@using Microsoft.AspNetCore.Authorization
@inject QuizAuthStateProvider QuizAuthStateProvider
@attribute [Authorize]
@inject IAppState AppState

<PageTitle>Home</PageTitle>
<SectionContent SectionName="pageTitle">Home</SectionContent>
<h1>Hello, @QuizAuthStateProvider.LoggedInUser?.Name</h1>

Welcome to your new app.
 <AuthorizeView>
     <Authorizing>
         <p>Authorizing . . . </p>
     </Authorizing>
     <NotAuthorized>
         <p>
             Not Authorized
        </p>
     </NotAuthorized>
    <Authorized>
        <p>
            Authorized: @context.User?.FindFirst(ClaimTypes.Name)?.Value
        </p>
    </Authorized>
 </AuthorizeView>

@code{

}